body {
    background: black;
}
.myCard {
    background: rgba(233, 217, 0, 0.473);
    font-size: 120%;
    margin: 3px;
    padding: -30px;
}
.bold {
    font-weight: bold;
    text-align: center;
}
.num-col {
    padding: 3px 6px 3px 7px;
    margin-right: 3px;
    text-align: center;
}
#holdImg1 {
    background: url("../images/train1.jpg") no-repeat;
    background-size: cover;
}
.green {
    background:  rgba(233, 217, 0, 0.473);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}